{{#if resume.skills.length}}
<section id="skills">
	<h2>Skills</h2>
	{{#each resume.skills}}
	<div class="item">
		{{#if keywords.length}}
			{{#each keywords}}
			<span>{{.}}</span>
			{{/each}}
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}