body {
	background: #fff;
	font: 15px Arial, Helvetica, sans-serif;
	line-height: 1.4;
	margin: 50px 0;
	margin-bottom: 100px;
}

section {
	margin-bottom: 2em;
}

#resume {
	margin: 0 auto;
	padding: 0 20px;
}